.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.1px solid lightgray; */
}

.auth-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2.5rem;
  box-shadow: 1px 1px 36px 1px rgba(230, 226, 226, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.auth-container > form > input {
  width: calc(100% - 2.4rem);
  padding: 1.2rem;
  border: 0.5px solid lightgray;
  font-size: 1rem;
  outline: none;
  margin-top: 1rem;
}

.auth-container > form > button {
    border: none;
    padding: 1.2rem;
    margin-top: 1.5rem;
    width: 100%;
    background-color: #1cb803;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.others {
    font-size: medium;
    color: gray;
    cursor: pointer;
    margin-top: 1.5rem;
    text-align: center;
}

@media (max-width: 375px) {
  .auth-container > form > input {
    font-size: 0.9rem;
  }
}

@media (max-width: 560px) {
  .auth-container {
    width: 70%;
  }
}