.row1-detail,
.row2-detail {
  padding: 70px;
  display: flex;
  justify-content: space-between;
}

.row2-detail {
  padding-top: 0;
}

.row1-col1 {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 1.25rem;
}

.row1-col1 > img {
  width: 340px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.row1-col1 > img:nth-child(1) {
  margin-right: 1rem;
}

.row1-col1 > img:nth-child(2) {
  margin-left: 1rem;
}

.row1-col2 {
  margin: 20px;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.row1-col2 > h1 {
  font-size: 2rem;
  margin-top: 0;
}

.row1-col2 > h3 {
  font-size: 1.3rem;
  color: rgb(74, 73, 73);
  margin-top: 0;
  font-weight: normal;
}

.row1-col2-desc {
  text-align: left;
  font-size: medium;
  line-height: 24px;
  color: #7a7a7a;
}

.other-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid lightgray;
}

.other-details > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  text-align: center;
  margin: 0 1rem;
}

.add-to-cart {
  margin-top: 1.5rem;
  width: 60%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: black;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: background-color linear 300ms;
}

.add-to-cart:hover {
  background-color: #1cb803;
}

.row2-col1 {
  margin: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.row2-col2 {
  margin: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.review-title {
  font-size: 1.5rem;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
}

.NoReview {
  font-size: 1rem;
  color: gray;
  line-height: 2rem;
}

.review-container {
  width: 100%;
  background-color: #fff3cd;
  border: 1px solid #fff3cd;
  font-size: 1rem;
}

.review-container > p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.review-container > p > strong > a {
  text-decoration: none;
}

.reviews-container {
  padding: 1rem;
  background-color: rgb(244, 243, 243);
  border-radius: 1rem;
}

.reviews-container > p {
  font-size: large;
  font-weight: bold;
}

.reviews-comment {
  padding: 1rem;
  width: calc(100%-1rem);
  background-color: #cff4fc;
  font-size: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.reviews-comment > p {
  line-height: 1.7;
  margin: 0;
}

@media (max-width: 1200px) {
  .other-details {
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .row1-detail {
    flex-direction: column;
  }

  .row1-col1 {
    width: 100%;
    margin: 0;
  }

  .row1-col2 {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }

  .add-to-cart {
    width: 100%;
  }

  .row1-col1 > img {
    width: 40%;
  }

  .row1-col1 > img:nth-child(1) {
    margin-right: 0;
  }

  .row1-col1 > img:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 894px) {
  .row2-detail {
    flex-direction: column;
  }

  .row2-col1 {
    margin-left: 0;
    flex-direction: column;
    width: 100%;
  }

  .row2-col2 {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .row1-col2 > h1 {
    font-size: 1.5rem;
  }

  .row1-col2 > h3 {
    font-size: 1rem;
  }

  .row1-col2-desc {
    font-size: 0.7rem;
  }

  .reviews-comment > p {
    font-size: 0.7rem;
  }
}

@media (max-width: 430px) {
  .other-details > div {
    font-size: 0.7rem;
  }

  .reviews-container > p {
    font-size: 0.7rem;
  }

  .row2-col2 > p {
    font-size: 1rem;
  }

  .review-container > p {
    font-size: 0.6rem;
  }

  .row1-col1 {
    margin-left: 0;
    margin-right: 0;
  }

  .row1-col1 > img {
    width: 130px;
    margin: 0;
  }

  .row1-detail {
    padding: 0 20px;
    padding-top: 1rem;
  }

  .row2-detail {
    padding: 0 20px;
    padding-bottom: 1rem;
  }

  .row1-col2 {
    margin-right: 0;
  }

  .row2-col1,
  .row2-col2 {
    margin: 0;
  }
}
