@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter:wght@400;500;700&family=Josefin+Sans:wght@300;400;500&family=Lato:wght@100;300;400;700;900&family=Nunito+Sans:wght@300&family=Open+Sans:wght@300;400;600&family=Poppins:wght@500&family=Roboto:wght@300;400;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Spinner */

.MuiCircularProgress-root {
  color: #1cb803 !important;
  margin-top: 1rem;
}

/*
breakpoints: 980px, 783px 767px, 768px
*/
